<div layout="column" style="height: 100%;">
<nav-bar></nav-bar>

	<!-- <div flex layout="column">  -->

	<md-content layout="row" flex>
	<!-- <div  flex="100"  layout-align="center center"> -->
		<div flex="25">
			<side-bar flex="33"></side-bar>
		</div>
	
		<div flex="75" layout-align="start center" class="allNotes" layout="column">
		
			<!-- <div layout="row" layout-align="center center" ng-if="!notes.archive">
				<h2 style="color: #DCDCDC;">Note is not availabel in archive</h2>
			</div> -->
			<div style="width: 75%;" ng-repeat="note in notes | filter:{archive:true}">
				
				<note-card></note-card>
			</div>
		</div>
	<!-- </div> -->
	</md-content> <!-- </div> -->
</div>