<div>
<nav-bar></nav-bar>

	<div flex layout="row"> 
	<side-bar></side-bar>

	<md-content layout="column" flex>
	<div class="allContent" flex="75"  layout-align="center center">
		
		<!--=============================== Add Notes ====================================-->
		
		<div class="addNote" layout="row" layout-align="center center">
			<md-card flex="60" style="margin-top:20px;" layout="column">
				<input class="inputFields" type="text" name="title" ng-model="note.title" placeholder="title"/>
				<input class="inputFields" type="text" name="description" ng-model="note.description" placeholder="description"/>
				<!-- <span flex-offset="5" ng-click="ShowHide()">Tag a note</span>
				<div ng-app="ToDo" ng-controller="homeController">
				
				<div ng-show = "IsVisible"  layout="column">
					<input class="inputFields" type="text" name="title" ng-model="note.title" placeholder="title"/>
				<input class="inputFields" type="text" name="description" ng-model="note.description" placeholder="description"/>
				</div> 
				</div>-->
				<div layout="row" layout-align="start center">
					<div flex="8">
						<md-menu>
						<md-button aria-label="" style="min-width:10px;" aria-label="Reminder" ng-click="$mdMenu.open()">
	       					<md-tooltip md-direction="bottom">Remind Me</md-tooltip>
	       					<img  md-card-image ng-src="image/reminder.svg"/>
	       				</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
									placeholder="Date" show-todays-date="" min-date="date" ng-model="note.reminder" class=" md-input"
										readonly="readonly" ng-change="reminder(note)">
        					</md-menu-item>
      					</md-menu-content>
      					</md-menu>
					</div>
					<div flex="8">
						<md-button class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">Collaborator</md-tooltip>
						<md-icon md-svg-icon="image/collaborator_black.svg"></md-icon> </md-button>
					</div>
					<div flex="8">
						<md-tooltip md-direction="top">change color</md-tooltip>
                		<color-picker color="color" options="options" 
                		on-color-changed="colorChanged(newColor,note)"></color-picker>
					</div>
					<div flex="8">
					<md-tooltip md-direction="bottom">Add Image</md-tooltip>
						<img md-card-image ng-src="image/insert_black.svg" 
						class="profile-img" ng-click="openHiddenButton(note)"/>
						
        				<input id="image" type="file" ng-model="note.noteBackGround" ngf-select="imageUpload(note)" ngf-multiple="false" 
        				style="display:none" ng-model="picFile" accept="image/*" class="picUpload"/>
					</div>
					<div flex="8">
						<md-button class="md-icon-button md-primary" aria-label="">
							<md-tooltip md-direction="bottom">Archive</md-tooltip>
						<md-icon md-svg-icon="image/archive_black.svg"></md-icon> </md-button>
					</div>
					<div flex="8">
						<md-button class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">More</md-tooltip>
						<md-icon md-svg-icon="image/more_black.svg"></md-icon> </md-button>
					</div>
					<div flex="4">
						<md-button ng-click="noteCreate(note)" style="margin-right:20px;" >Done</md-button>
					</div>
				</div>
				
			</md-card>
		</div>
		
		<!--=============================== dailog box ====================================-->
		
		<div style="visibility:hidden;">
			<div class="md-dialog-container" id="myStaticDialog">
				<md-dialog aria-label="">
    				<md-dialog-content style="max-width:600px;max-height:200px;">
          			<md-content class="md-padding">
           				<div><input class="inputFields" ng-model="note.title" name="title" type="text"></div>
						<div><input class="inputFields" type="text" ng-model="note.description" name="description"/></div>
          			</md-content>
    				</md-dialog-content>
    				
    				<md-dialog-actions layout="row">
     			 	<div flex="8">
						<md-menu>
						<md-button aria-label="" style="min-width:10px;" aria-label="Reminder" ng-click="$mdMenu.open()">
	       					<md-tooltip md-direction="bottom">Remind Me</md-tooltip>
	       					<img  md-card-image ng-src="image/reminder.svg"/>
	       				</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
									placeholder="Date" show-todays-date="" min-date="date" ng-model="note.reminder" class=" md-input"
										readonly="readonly" ng-change="reminder(note)">
        					</md-menu-item>
        					
      					</md-menu-content>
      					</md-menu>
					</div>
					<div flex="4">
						<md-button class="md-icon-button md-primary" aria-label="" ng-click="collaborators(note, $event)">
						<md-tooltip md-direction="bottom">Collaborator</md-tooltip>
						<md-icon md-svg-icon="image/collaborator_black.svg"></md-icon> </md-button>
					</div>
					<div flex="4">
						<md-tooltip md-direction="top">change color</md-tooltip>
                		<color-picker color="color" options="options" 
                		on-color-changed="colorChanged(newColor,note)"></color-picker>
					</div>
					<div flex="4">
					
						<md-tooltip md-direction="bottom">Add Image</md-tooltip>
						<img md-card-image ng-src="image/insert_black.svg" 
						class="profile-img" ng-click="openHiddenButton(note)"/>
						
        				<input id="image" type="file" ng-model="note.noteBackGround" ngf-select="imageUpload(note)" ngf-multiple="false" 
        				style="display:none" ng-model="picFile" accept="image/*" class="picUpload"/>
					</div>
					<div flex="4">
						<md-button ng-click="archiveNote(note)" class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">Archive</md-tooltip>
						<md-icon md-svg-icon="image/archive_black.svg"></md-icon> </md-button>
					</div flex="4">
					<div flex="4">
					<md-menu>
						<md-button aria-label="">
						<md-tooltip md-direction="bottom">More</md-tooltip>
        					<md-icon md-svg-icon="image/more_black.svg" ng-click="$mdMenu.open()"></md-icon>
      					</md-button>
      					<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<md-button ng-click="trashNote(note)">Delete Note</md-button>
        					</md-menu-item>
        					<md-menu-item >
          						<md-button>Make Copy</md-button>
        					</md-menu-item>
        
        					<md-menu-item >
         					<md-button>Add Labels</md-button>
        				</md-menu-item>
        
      					</md-menu-content>
    					</md-menu>
					</div>
					<div flex="4">
						<md-button ng-click="updateNote(note)" style="margin-right:20px;" >Done</md-button>
					</div>
				
      					
    				</md-dialog-actions>
				</md-dialog>
			</div>
		</div>
		
		<!--=============================== unpin notes ====================================-->
		
		<div layout="row">
		<div flex="100" layout-align="start center" class="pin allNotes" layout="column">
		<profile ng-repeat="jmfd"></profile>
			<div style="width: 90%;" ng-repeat="note in notes | filter:{trash:false , archive:false , pin:false}">
				<md-card ng-style="{'background-color':note.noteColor}" >
					<div ng-click="showDialog(note)">
					<div ng-if="note.noteBackGround">
					<img ng-src={{note.noteBackGround}} style=" max-width: 100%;">
					</div>
					
					<div flex layout-align="end center"><div flex="5">
					<md-button ng-click="pinNote(note)" class="md-icon-button md-primary" aria-label="">
						<md-icon md-svg-icon="image/pin_black.svg"></md-icon></md-button></div></div>
					<!-- <input class="inputFields" ng-model="note.title" type="text">
					<input class="inputFields" ng-model="note.description" type="text"> -->
					<div layout="column">
						<span>{{note.title}}</span>
						<span>{{note.description}}</span>
						</div>
					<div ng-if="note.reminder" layout="row">
						<h5>Reminder : {{note.reminder|date:'medium'}}</h5>
						<img style="margin-left: 5px;" alt="image is note available" src="image/close_black.svg" ng-click="removeReminder(note)"/>
					</div>
					</div>
					<div layout="row" layout-align="start center">
					<div flex="4">
						<md-menu>
						<md-button aria-label="" style="min-width:10px;" aria-label="Reminder" ng-click="$mdMenu.open()">
	       					<md-tooltip md-direction="bottom">Remind Me</md-tooltip>
	       					<img  md-card-image ng-src="image/reminder.svg"/>
	       				</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
									placeholder="Date" show-todays-date="" min-date="date" ng-model="note.reminder" class=" md-input"
										readonly="readonly" ng-change="reminder(note)">
        					</md-menu-item>
        					
      					</md-menu-content>
      					</md-menu>
					</div>
					<div flex="4">
						<md-button class="md-icon-button md-primary" aria-label="" ng-click="collaborators(note, $event)">
						<md-tooltip md-direction="bottom">Collaborator</md-tooltip>
						<md-icon md-svg-icon="image/collaborator_black.svg"></md-icon> </md-button>
					</div>
					<div flex="4">
						<md-tooltip md-direction="top">change color</md-tooltip>
                		<color-picker color="color" options="options" 
                		on-color-changed="colorChanged(newColor,note)"></color-picker>
					</div>
					<div flex="4">
					
						<md-tooltip md-direction="bottom">Add Image</md-tooltip>
						<img md-card-image ng-src="image/insert_black.svg" 
						class="profile-img" ng-click="openHiddenButton(note)"/>
						
        				<input id="image" type="file" ng-model="note.noteBackGround" ngf-select="imageUpload(note)" ngf-multiple="false" 
        				style="display:none" ng-model="picFile" accept="image/*" class="picUpload"/>
					</div>
					<div flex="4">
						<md-button ng-click="archiveNote(note)" class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">Archive</md-tooltip>
						<md-icon md-svg-icon="image/archive_black.svg"></md-icon> </md-button>
					</div flex="4">
					<md-menu>
						<md-button aria-label="">
						<md-tooltip md-direction="bottom">More</md-tooltip>
        					<md-icon md-svg-icon="image/more_black.svg" ng-click="$mdMenu.open()"></md-icon>
      					</md-button>
      					<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<md-button ng-click="trashNote(note)">Delete Note</md-button>
        					</md-menu-item>
        					<md-menu-item >
          						<md-button>Make Copy</md-button>
        					</md-menu-item>
        
        					<md-menu-item >
         					<md-button>Add Labels</md-button>
        				</md-menu-item>
        
      				</md-menu-content>
    				</md-menu>
					
					<div flex="4">
						<md-button ng-click="updateNote(note)">Done</md-button>
					</div>
				</div>
				</md-card>
			</div>
		</div>
		
		<!--=============================== Pin Notes ====================================-->
		
		<div flex="100" layout-align="start center" class="pin allNotes" layout="column">
		<div><h6>Pined Notes</h6></div>
		<div style="width: 90%;" ng-repeat="note in notes | filter:{trash:false , archive:false ,pin:true}">
				<md-card ng-style="{'background-color':note.noteColor}" ng-click="showDialog(note)">
				
					<div ng-if="note.noteBackGround">
						<img ng-src={{note.noteBackGround}} style=" max-width: 100%;">
					</div>
					
					<div flex ><div flex="8">
					<md-button ng-click="pinNote(note)" class="md-icon-button md-primary" aria-label="">
						<md-icon md-svg-icon="image/pinBlue.svg"></md-icon></md-button></div></div>
						<span>{{note.title}}</span>
						<span>{{note.description}}</span>
					<!-- <input class="inputFields" ng-model="note.title" type="text">
					<input class="inputFields" ng-model="note.description" type="text"> -->
					<div ng-if="note.reminder" layout="row">
						<h5>Reminder : {{note.reminder|date:'medium'}}</h5>
						<img style="margin-left: 5px;" alt="image is note available" src="image/close_black.svg" 
						ng-click="removeReminder(note)"/>
					</div>
					<div layout="row" layout-align="start center">
					<div flex="4">
				
						<md-menu>
						<md-button aria-label="" class="menuButton" aria-label="Reminder" ng-click="$mdMenu.open()">
	       					<md-tooltip md-direction="bottom">Remind Me</md-tooltip>
	       					<img  md-card-image ng-src="image/reminder.svg" ng-click="$mdMenu.open()"/>
	       				</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
									placeholder="Date" show-todays-date="" min-date="date" ng-model="note.reminder" class=" md-input"
										readonly="readonly" ng-change="addReminder(note)">
        					</md-menu-item>
        					
      					</md-menu-content>
      					</md-menu>
					</div>
					<div flex="4">
						<md-button class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">Collaborator</md-tooltip>
						<md-icon md-svg-icon="image/collaborator_black.svg"></md-icon> </md-button>
					</div>
					<div flex="4">
                		<md-tooltip md-direction="top">change color</md-tooltip>
                		<color-picker color="color" options="options" 
                		on-color-changed="colorChanged(newColor,note)"></color-picker>
                	</div>
					<div flex="4">
					
						<md-tooltip md-direction="bottom">AddImage</md-tooltip>
						<img md-card-image ng-src="image/insert_black.svg" 
						class="profile-img" ng-click="openHiddenButton(note)"/>
        				<input id="image" type="file" ng-model="note.noteBackGround" ngf-select="imageUpload(note)" ngf-multiple="false" 
        				style="display:none" ng-model="picFile" accept="image/*" class="picUpload"/>
					</div>
					
					<div flex="4">
						<md-button ng-click="archiveNote(note)" class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">Archive</md-tooltip>
						<md-icon md-svg-icon="image/archive_black.svg"></md-icon> </md-button>
					</div>
					<md-menu>
						<md-button aria-label="Open menu with custom trigger" ng-click="$mdMenu.open()">
						<md-tooltip md-direction="bottom">More</md-tooltip>
        					<md-icon md-svg-icon="image/more_black.svg"></md-icon>
      					</md-button>
      					<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<md-button ng-click="trashNote(note)">Delete Note</md-button>
        					</md-menu-item>
        					<md-menu-item >
          						<md-button>Make Copy</md-button>
        					</md-menu-item>
        
        					<md-menu-item >
         					<md-button>Add Labels</md-button>
        				</md-menu-item><div>
        
      				</md-menu-content>
    				</md-menu>
					
				</div>
				</md-card>
			</div>
		</div>
		</div>
	</div>
	</md-content> </div>
</div>