<div style="width: 100%;" layout="column">

	<nav-bar></nav-bar>
	
	<md-content class="allContent" layout-align="center center" layout="row" flex="100" >
	<!-- <div style="width: 100%;" layout="row" layout-align="start center"> -->
		<side-bar></side-bar>
		<div layout-align="center center" flex class="container" layout="column" style="height: 100%;">
		<!--=============================== Add Notes ====================================-->
		
		<div  layout="row" layout-align="center center">
			<md-card style="word-break: break-all; max-width: 700px; min-width: 500px;">
				<div style="padding: 10px;" layout-align="start start" layout="column">
					<input style="width: 100%;" id="title" class="inputFields" type="text" name="title" ng-model="note.title" placeholder="title"/>
					<input style="width: 100%;" id="description" class="inputFields" type="text" name="description" ng-model="note.description" placeholder="description"/>
				</div>
				
				<div layout="row" layout-align="start center">
					<div flex="8">
						<md-menu>
						<md-button aria-label="" style="min-width:10px;" aria-label="Reminder" ng-click="$mdMenu.open()">
	       					<md-tooltip md-direction="bottom">Remind Me</md-tooltip>
	       					<img  md-card-image ng-src="image/reminder.svg"/>
	       				</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
									placeholder="Date" show-todays-date="" min-date="date" ng-model="note.reminder" class=" md-input"
										readonly="readonly" ng-change="reminder(note)">
        					</md-menu-item>
      					</md-menu-content>
      					</md-menu>
					</div>
					<div flex="8">
						<md-button class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">Collaborator</md-tooltip>
						<md-icon md-svg-icon="image/collaborator_black.svg"></md-icon> </md-button>
					</div>
					<div flex="8">
						<md-tooltip md-direction="top">change color</md-tooltip>
                		<color-picker color="color" options="options" 
                		on-color-changed="colorChanged(newColor,note)"></color-picker>
					</div>
					<div flex="8">
					<md-tooltip md-direction="bottom">Add Image</md-tooltip>
						<img md-card-image ng-src="image/insert_black.svg" 
						class="profile-img" ng-click="openHiddenButton(note)"/>
						
        				<input id="image" type="file" ng-model="note.noteBackGround" ngf-select="imageUpload(note)" ngf-multiple="false" 
        				style="display:none" ng-model="picFile" accept="image/*" class="picUpload"/>
					</div>
					<div flex="8">
						<md-button class="md-icon-button md-primary" aria-label="">
							<md-tooltip md-direction="bottom">Archive</md-tooltip>
						<md-icon md-svg-icon="image/archive_black.svg"></md-icon> </md-button>
					</div>
					<div flex="8">
						<md-button class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">More</md-tooltip>
						<md-icon md-svg-icon="image/more_black.svg"></md-icon> </md-button>
					</div>
					<div flex="4">
						<md-button ng-click="noteCreate(note)" style="margin-right:20px;" >Done</md-button>
					</div>
				</div>
				
			</md-card>
		</div>
		
		<!--=============================== dailog box ====================================-->
		
		<div style="visibility:hidden;">
			<div class="md-dialog-container" id="myStaticDialog">
				<md-dialog aria-label="">
    				<md-dialog-content style="max-width:600px;max-height:200px;">
          				<md-content class="md-padding">
           					<div><input class="inputFields" ng-model="note.title" name="title" type="text"></div>
							<div><input class="inputFields" type="text" ng-model="note.description" name="description"/></div>
							<div ng-if="note.reminder" layout="row">
							<h5>Reminder : {{note.reminder|date:'medium'}}</h5>
							<img style="margin-left: 5px;" alt="image is note available" src="image/close_black.svg" ng-click="removeReminder(note)"/>
						</div>
          				</md-content>
          				<div ng-if="note.labels" layout = "row">
						<div class="showLabel" layout="row" layout-margin="center center" ng-repeat="label in note.labels">
							
							<h5 style="margin-top: 3px;">{{label.labelName}}</h5>
							<md-icon ng-click="deleteLabel(label, note)" style="margin-top: 0px; margin-left:0px;" md-svg-icon="image/close_black.svg" ></md-icon>
							
						</div>
					</div>
    				</md-dialog-content>
    				
    				<md-dialog-actions layout="row">
     			 	<div flex="8">
						<md-menu>
						<md-button aria-label="" style="min-width:10px;" aria-label="Reminder" ng-click="$mdMenu.open()">
	       					<md-tooltip md-direction="bottom">Remind Me</md-tooltip>
	       					<img  md-card-image ng-src="image/reminder.svg"/>
	       				</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
									placeholder="Date" show-todays-date="" min-date="date" ng-model="note.reminder" class=" md-input"
										readonly="readonly" ng-change="reminder(note)">
        					</md-menu-item>
        					<md-menu-item >
          						<input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
									placeholder="Date" show-todays-date="" min-date="date" ng-model="note.reminder" class=" md-input"
										readonly="readonly" ng-change="reminder(note)">
        					</md-menu-item>
      					</md-menu-content>
      					</md-menu>
					</div>
					<div flex="4">
						<md-button class="md-icon-button md-primary" aria-label="" ng-click="collaborators(note, $event)">
						<md-tooltip md-direction="bottom">Collaborator</md-tooltip>
						<md-icon md-svg-icon="image/collaborator_black.svg"></md-icon> </md-button>
					</div>
					<div flex="4">
						<md-tooltip md-direction="top">change color</md-tooltip>
                		<color-picker color="color" options="options" 
                		on-color-changed="colorChanged(newColor,note)"></color-picker>
					</div>
					<div flex="4">
					
						<md-tooltip md-direction="bottom">Add Image</md-tooltip>
						<img md-card-image ng-src="image/insert_black.svg" 
						class="profile-img" ng-click="openHiddenButton(note)"/>
						
        				<input id="image" type="file" ng-model="note.noteBackGround" ngf-select="imageUpload(note)" ngf-multiple="false" 
        				style="display:none" ng-model="picFile" accept="image/*" class="picUpload"/>
					</div>
					<div flex="4">
						<md-button ng-click="archiveNote(note)" class="md-icon-button md-primary" aria-label="">
						<md-tooltip md-direction="bottom">Archive</md-tooltip>
						<md-icon md-svg-icon="image/archive_black.svg"></md-icon> </md-button>
					</div flex="4">
					<div flex="4">
					<md-menu>
						<md-button  aria-label="">
						<md-tooltip md-direction="bottom">More</md-tooltip>
        					<md-icon md-svg-icon="image/more_black.svg" ng-click="$mdMenu.open()"></md-icon>
      					</md-button>
      					<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        					<md-menu-item >
          						<md-button ng-click="trashNote(note)">Delete Note</md-button>
        					</md-menu-item>
        					<md-menu-item >
          						<md-button ng-click="copyNote(note)">Make Copy</md-button>
        					</md-menu-item>
        
        					<md-menu-item >
         					<md-button ng-click="addNoteInLabel(note)">Add Labels</md-button>
        				</md-menu-item>
        
      					</md-menu-content>
    					</md-menu>
					</div>
					<div flex="4">
						<md-button class="noteButtons" ng-click="updateNote(note)" >Done</md-button>
					</div>
				
    				</md-dialog-actions>
				</md-dialog>
			</div>
		</div>
		
		<!--=============================== other notes layout-align="center center"====================================-->
		
		<div flex layout="column" >
			<div  layout="row" layout-align="center  start" layout-wrap layout-padding>
				<div class="card" data-drag="true" data-jqyoui-options="{revert: revertCard,
							helper: 'clone',
							appendTo: 'body',
							zIndex: 350}" jqyoui-draggable="{
						placeholder:true,
						animate:true,
						onStart: 'startCallback'}" ng-repeat="note in notes | filter:{trash:false , archive:false , pin:false}">
					<note-card></note-card>
				</div>
			</div>
		<!--================================================ Pin Notes =================================================-->
			
			<div style="margin-top: 20px;" layout-align="center center" layout="column" layout-padding>
				<h6>Pined Notes</h6>
			</div>
			
			<div layout="row" layout-align="start start" layout-wrap layout-padding>
				<div ng-repeat="note in notes | filter:{trash:false , archive:false ,pin:true} ">
					<note-card></note-card>
				</div>
			</div>	
		</div>
	</div>
	<!-- </div> -->
	</md-content>
</div>