<md-navbar class="md-navbar">
	<div class="md-toolbar-tools">
		<div layout="row" layout-margin>
			<div layout-margin flex="8">
				<md-button ng-click="toggleLeft()" class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/menu.svg"></md-icon> </md-button>
			</div>
			<div  style="margin-top:0 auto;" layout-align="start center" >
				<h1 style="color: #ffffff;">Google Keep</h1>
			</div>
		</div>
		<div md-search-text="ctrl.searchText" layout="row" flex>
			<div flex="8">
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/search.svg"></md-icon> </md-button>
			</div>
		
			<div flex="100" style=" border-radius:4px">
				<md-autocomplete class="inputType" ng-click="search()" md-no-cache="true" md-selected-item="selectedItem"
				md-items="item in items" 
				 placeholder="Search">
			</div>
			
		</div>
		<div flex="8">
			<md-button class="md-icon-button md-primary" aria-label="">
			<md-icon md-svg-icon="image/refresh.svg"></md-icon> </md-button>
		</div>
		<div flex="8">
			<md-button class="md-icon-button md-primary" aria-label="">
			<md-icon md-svg-icon="image/grid_view.svg"></md-icon> </md-button>
		</div>
		<div layout="row">
			<div flex="8">	
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/view_comfy_white.svg"></md-icon> </md-button>
			</div>
			<div flex="8">
				<md-button class="md-icon-button md-primary" aria-label="">
				<md-icon md-svg-icon="image/notifications_white.svg"></md-icon> </md-button>
			</div>
			<div style="background-color: white; width: 50px; border-radius : 100px;">
				<img ng-click="logOut(user)" alt="{{user.fName.charAt(0)}}" style=" border-radius: inherit;"  ng-src="{{user.profilePic}}"/>
			</div>
		</div>
	</div>
</md-navbar>