<md-dialog aria-label="" >
	<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Lables</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:600px;max-height:400px; min-width:300px;" ng-init="getLabels()">
    	<div style="width: 100px;"  layout-align="start center" layout="row" >
    		
    	</div>
    	<div>
			<input class="inputFields" type="text" placeholder="create new lable" ng-model="lableName"/>
		</div>
		<div layout="row" style="width: 90%;" ng-repeat="label in labels | filter:{label:'!'}">
				<div style="width: 50px;">
						<img class="img" alt="" src="image/label_black.svg">
				</div>
				<div flex class="nav_h6_div">
						<h6 class="h6">{{label.labelName}}</h6>
				</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
      	<md-button ng-click="cancel()" style="margin-right:20px;">Done</md-button>
    </md-dialog-actions>
</md-dialog>