<div layout="column" style="height: 100%;">
<nav-bar></nav-bar>

	<md-content layout="row" flex>
		<div flex="25">
			<side-bar flex="33"></side-bar>
		</div>
	<!-- <div class="allContent" flex="75"  layout-align="center center"> -->
		<!-- <div layout="row" layout-align="center center" ng-repeat="note in notes | filter:{note.reminder:'!'}">
			<h2 style="color: #DCDCDC;">Note is not availabel in reminder</h2>
		</div> -->
		
		<div flex="75" layout-align="start center" class="allNotes" layout="column">
			<div flex="75" ng-repeat="note in notes">
				<div style="width: 75%;" ng-if="note.reminder!=null">
					<note-for-trash></note-for-trash>
				</div>
			</div>
		</div>
	</md-content>
</div>