<md-side-bar class="md-side-bar" md-no-ink-bar="disableInkBar"
	md-selected-nav-item="currentNavItem"
	nav-bar-aria-label="navigation links">
<div layout="column" layout-align="space-around center"
	style="width: 100%;">
	<div class="side_ul_div">
		<ul layout-align="space-around center" style="width: 100%%;">
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/lightbulb_outline_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Notes</h6>
					</div>
			</a></li>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/touch_black.svg">
					</div>
					
					<div flex class="nav_h6_div">
						<h6 class="h6">Reminders</h6>
					</div>
			</a></li>
			
		</ul>
		
	<md-divider></md-divider>
		<ul>
			<div layout="row" style="height: 60px; text-align: center;">
				<h6 style="margin-left: 10px; margin-top: 30px;">Labels</h6>
				<a flex href="" class="a"><h6>EDIT</h6></a>
			</div>

			<!-- <li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/label_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">hello</h6>
					</div>
			</a></li> -->
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/add_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Create new lable</h6>
					</div>
			</a></li>
		</ul>
	<md-divider></md-divider>
		<ul>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/archive_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Archive</h6>
					</div>
			</a></li>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/trash_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Trash</h6>
					</div>
			</a></li>
		</ul>
	<md-divider></md-divider>
		<ul>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/settings_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Settings</h6>
					</div>
			</a></li>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/feedback_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Send feedback</h6>
					</div>
			</a></li>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/help_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Help</h6>
					</div>
			</a></li>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/devices_other_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">App downloads</h6>
					</div>
			</a></li>
			<li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/keyboard_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Keyboard shortcuts</h6>
					</div>
			</a></li>
		</ul>
		<md-divider></md-divider>
	</div>
</div>
</md-side-bar>