
<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4" 
	class="md-side-bar  md-sidenav-left" md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem"
	nav-bar-aria-label="navigation links">
<div layout="column" layout-align="space-around center"
	style="width: 100%;">
	<div class="side_ul_div">
		<ul layout-align="space-around center" style="width: 100%%;">
			<li class="side_li"><a ui-sref="home" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/lightbulb_outline_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Notes</h6>
					</div>
			</a></li>
			<li class="side_li"><a ui-sref="reminder" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/reminder.svg">
					</div>
					
					<div flex class="nav_h6_div">
						<h6 class="h6">Reminders</h6>
					</div>
			</a></li>
			
		</ul>
		
	<md-divider></md-divider>
		<ul>
			<div layout="row" style="height: 60px; text-align: center;">
				<h6 style="margin-left: 10px; margin-top: 30px;">Labels</h6>
				<button class="buttons" ng-click="lables()">EDIT</button>
			</div>
			<div style="width: 90%;" ng-repeat="label in labels | filter:{label:'!'}">
			 <li class="side_li"><a href="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/label_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 ng-click="noteInLabel(notes, label.labelName)" class="h6">{{label.labelName}}</h6>
					</div>
			</a></li>
			</div>
			<li class="side_li">
				<md-button class="a" layout="row" class="buttons" ng-click="lables()">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/add_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h5 class="h6" style="margin-top: 8px;">create new label</h5>
					</div>
				</md-button>
			</li>
		</ul>
	<md-divider></md-divider>
		<ul>
			<li class="side_li"><a ui-sref="archive" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/archive_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Archive</h6>
					</div>
			</a></li>
			<li class="side_li"><a ui-sref="trash" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/trash_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6" >Trash</h6>
					</div>
			</a></li>
		</ul>
	<md-divider></md-divider>
		<ul>
			<li class="side_li"><a ui-sref="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/settings_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Settings</h6>
					</div>
			</a></li>
			<li class="side_li"><a ui-sref="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/feedback_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Send feedback</h6>
					</div>
			</a></li>
			<li class="side_li"><a ui-sref="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/help_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Help</h6>
					</div>
			</a></li>
			<li class="side_li"><a ui-sref="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/devices_other_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">App downloads</h6>
					</div>
			</a></li>
			<li class="side_li"><a ui-sref="" layout="row" class="a">
					<div style="width: 50px;">
						<img class="img" alt="" src="image/keyboard_black.svg">
					</div>
					<div flex class="nav_h6_div">
						<h6 class="h6">Keyboard shortcuts</h6>
					</div>
			</a></li>
		</ul>
		<md-divider></md-divider>
	</div>
</div>
</md-side-bar>