<md-dialog aria-label="">
    <md-dialog-content style="max-width:800px;max-height:300px;">
      	<div layout="column" flex="100">
			
			<div layout-align="start center"  layout="column">
         		<h4 flex-offset="10">Collabrators</h4>
         		<hr/>
         		<div layout="row" flex-offset="10">
         			<div flex="15">dprajapati591@gmail.com</div>
         			<div flex></div>
         		</div>
         		<md-input-container>
         			<div layout="row" flex-offset="10">
         				<div flex="15"></div>
         				<div flex><input type="email" name="userName" ></div>
         				<div flex="10">hello</div>
         			</div>
         		</md-input-container>
         	</div> 
			
		</div>
    <md-dialog-actions layout="row" layout-align="end center">
      
      <md-button ng-click="cancelDailog()" >
       Cancel
      </md-button>
      <md-button ng-click="" style="margin-right:20px;">
        Done
      </md-button>
    </md-dialog-actions>

</md-dialog>