@CHARSET "UTF-8";
.md-container{
	height: auto;
	width: 100%;
}

.md-toolbar-tools{
	background: #fb0;
}

.md-content{
	width: 100%;
	height: 100%;
}

.add_note_div{
	height: 46px;
	width: 600px;
	background-color: white;
	margin-top: 20px;
	margin-left: 210px;
	margin-right: 210px;
	
	box-sizing: border-box;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    
    font-size: 14px;
    line-height: 19px;
    min-height: 46px;
    padding: 12px 15px 15px 15px;
    
}

.allContent{
	
}

.addNote{
	
}

.allNotes{
	
}

.pin{
	margin-top: 30px;
	margin-bottom: 30px;
}

.form_button{
	text-align: right;
}

.inputFields{
	border: none;
    outline: none;
}

.inputType{
	opacity: 0.05;
    filter: alpha(opacity=50);
    
	border: none;
    font: normal 16px Roboto,sans-serif;
    font-variant-ligatures: none;
    height: 46px;
    outline: none;
    padding: 11px 16px 11px 16px;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}

.noteImage{
	
}

md-icon{
	curser=pointer;
}

.menuButton{
	min-width:5px; 
	max-width:25px; 
	margin:5px;
}

.showLabel{
	background-color: #DCDCDC; 
	height:25px; 
	border-radius : 100px;
}

.noteButtons{
	min-width: 10%;
	max-width: 15%;
	margin-left: 1px;
}

#description{
	outline:none;
	padding-top:5px;
	word-break: break-all;
}

#title{
	outline:none;
	padding-top:5px;
	height: 28px;
	word-break: break-all;
}